extends _layout

block home
  header.Header.container
    .Brand
      img(src="/img/ns-logo.png", alt="Nuestra Salud Family Health Clinic in Laredo, Texas").ns-logo
    .Services
      p.text-right Strep Tests 
        <br>Influenza A&amp;B Exams 
        <br>Pediatric Vaccinations 
        <br>Pregnancy Tests 
        <br>Urinalysis 
        <br>Drug Tests 
        <br>DOT Exams 
        <br>Sports &amp; Nursing Physicals 
        <br>Stitches &amp; more!
  
  main.Content.Grid.center(role="main")
    .Cell.six.text-center
      h1 MINOR EMERGENCY CLINIC <br>NOW OPEN 
      h2 READY TO SERVE OUR COMMUNITY
  .Grid.center
    .Cell.four.text-center
      h3 Minimal wait time • No appointments! • Walk-ins welcome • Accepting most private insurances • Medicaid &amp; Self-pay (low-priced)
      h2 802 East Saunders Suite A 
        <br>(956) 568-5013 
        <br>Monday-Thursday 4pm to 9pm 
        <br>Friday 2pm to 9pm 
        <br>Saturday - Sunday 9am to 9pm
